# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Escape Characters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) Booleans <br>
5) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) truth tree <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) and/or <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) elif <br>
 &nbsp;&nbsp;&nbsp;&nbsp; 3) else <br>
6) <b>In-Class Exercise #2</b> <br>
7) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
8) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
9) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
10) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
12) Try and Except <br>

### Int & Float Assignments

##### Assigning int

In [4]:
num_int = 89348

print(num_int)
print(type(num_int))

89348
<class 'int'>

##### Assinging float

In [5]:
# The decimal (.) is what tells python to make this a float
num_float = 6.1

print(num_float)
print(type(num_float))

6.1
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [11]:
num1 = 2
num2 = 5
#int + int => int
#int + float => float

result = num1 + num2

print(result)
print(type(result))

result += 2
print(result)

7
<class 'int'>
9

##### Subtraction

In [14]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 2
print(result_diff)

3
1

##### Multiplication

In [16]:
result_prod = num1 * num2
print(result_prod)

result_prod *=2
print(result_prod)

10
20

##### Division

In [20]:
result_div = num1 / num2
print(result_div)
print(10/2)

result_div /= 2
print(result_div)

0.4
5.0
0.2

##### Floor Division

In [24]:
#Sometimes also referred to as integer division
result_floor = num2 // num1
print(result_floor)
print(type(result_floor))

result_floor //= 2
print(result_floor)

2
<class 'int'>
1

##### Modulo

In [ ]:
#Returns the remainder of the division expression
result_mod = num2 % num1
print(result_mod)

result_mod %= 2
print(result_mod)

In [ ]:
##### Exponential

In [21]:
num1 = 2
num2 = 5

square = num2 ** num1
print(square)

square **= 2
print(square)

25
625

In [ ]:
### String Input-Output

##### String Assignment

In [29]:
name1 = "Usama"
print(name1)
print(type(name1))

Usama Qazi
<class 'str'>

In [30]:
name2 = "Qazi"
print(name2)
print(type(name2))

Qazi
<class 'str'>

In [31]:
contraction1 = "You can't do that"
print(contraction1)

You can't do that

In [33]:
contraction2 = 'You can't do that'
print(contraction2)

SyntaxError: invalid syntax (1937463103.py, line 1)

In [34]:
quote1 = 'He said, "Hello, How are you?"'
print(quote1)

He said, "Hello, How are you?"

##### Escape Characters

In [ ]:
contraction3 = 'You can\'t do that'
print(contraction3)

In [36]:
print('Hello My name is Usama')

SyntaxError: EOL while scanning string literal (1893450938.py, line 1)

In [40]:
print('Hello\
 My name is Usama')

Hello My name is Usama

In [45]:
# \n
print("Hello\how are you?")

Hello\how are you?

In [41]:
# \t
print ('Hello\thow are you?')

Hello	how are you?

In [46]:
# Raw String
print(r"Hello\n\thow are you?")

Hello\n\thow are you?

##### String Concatenation

In [47]:
"Hello" + 'World'

'HelloWorld'

In [50]:
first_name = 'Usama'
last_name = 'Qazi'

full_name = first_name + " " + last_name

In [52]:
num_a = 10
num_b = "10"

print(num_a + num_b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

##### Type Conversion

In [53]:
#built-in type conversions are names of the data type e.g. str, int, float, etc

print(type(num_b))

num_b_int = int(num_b)
print(type(num_b_int))

print(num_a + num_b_int)

<class 'str'>
<class 'int'>
20

In [54]:
print(type(num_a))

num_a_str = str(num_a)
print(type(num_a_str))

print(num_b + num_a_str)

<class 'int'>
<class 'str'>
1010

##### .format() and f-strings

In [60]:
name = "Usama"
home = "Baltimore"
age = "23"

print("Hello my name is {} and I am {} years old and I am from {}.".format(name, age, home))
print(f"Hello my name is {name} and I am {age} years old and I am from {home}")

Hello my name is Usama and I am 23 years old and I am from Baltimore.
Hello my name is Usama and I am 23 years old and I am from Baltimore

##### Old Way (python 2)

In [62]:
print("Hello my name is %s and I am from %s" % (name, home))

Hello my name is Usama and I am from Baltimore

# In-Class Exercise 1 <br>
<p>Increase the year by 1 and then print out the following statement using type conversion and a formatted string</p>

In [76]:
#OUTPUT:  I drive a blue 2023 Ford Focus.
color = 'blue'
make = 'Ford'
year = '2022'
model = 'Focus'


year_int = int(year)

year_int += 1

print(f"I drive a {color} {year_int} {make} {model}")

print(f"I drive a {color} {int(year) +1} {make} {model}")

I drive a blue 2023 Ford Focus
I drive a blue 2023 Ford Focus

In [79]:
# python string are indexable
my_string = 'Hello World'

print(my_string)
print(my_string[2])

Hello World
l

In [80]:
# python strings are immutable

my_string[1] = 'a'
print(my_string)

TypeError: 'str' object does not support item assignment

### Booleans

In [81]:
bool_true = True

print(bool_true)
print(type(bool_true))

True
<class 'bool'>

In [82]:
bool_false = False

print(bool_false)
print(type(bool_false))

False
<class 'bool'>

### If Statements

In [83]:
# if <expression>:
#     <statement>

if True:
    print('Hello this is true')

Hello this is true

In [84]:
if False:
    print('Hello this is false')

In [88]:
print("start code")

if False:
    print('Hello')
    print('How are you?')
    print('Well, you?')
    
print('end code')

start code
end code

In [96]:
# Available operators: Greater(>), Less(<), Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)

num_1 = 10
num_2 = 5
num_3 = 2

print(num_1 > num_2)
print(num_1 == num_2 * num_3)

True
True

In [ ]:
if num_1 > num_2:
    print('num1 is greater than num2')

## Using 'and'/'or' with If Statements

In [103]:
# Truth Tree:
# T and T = T
# T and F = F
# F and F = F
# T or T = T
# T or F = T
# F or F = F

potential_candidate_gpa = 3.1
potential_candidate_act = 26

if potential_candidate_gpa > 2.5 and potential_candidate_act > 25:
    print('Pass student along')
else:
    print('Reject student')

Pass student along

In [102]:
potential_candidate_gpa = 3.1
potential_candidate_act = 20

if potential_candidate_gpa > 2.5 or potential_candidate_act > 25:
    print('Pass student along')
else:
    print('Reject student')

Pass student along

### Else Statements

In [106]:
# An else statement runs when the if statement above it evaluates to False

required_height = 60
rider_height = 62

if rider_height >= required_height:
    print('Enjoy the ride!')
else:
    print('Sorry, you are not tall enough to ride.')

Enjoy the ride!

### Elif Statements

In [115]:
# An elif only runs when the if (or elif) directly above it evaluates to False

required_age = 18
with_a_parent = 14

movie_goer_age = 55

if movie_goer_age >= required_age:
    print('Thanks enjoy the film!')
elif movie_goer_age >= with_a_parent:
    print('You must be accompanied by an adult to see this film')
elif movie_goer_age <= 5:
    print('Where are your parents?')
else:
    print('You are not old enough to see this film')

Thanks enjoy the film!

### In-Class Exercise 2 <br>
<p>Write a program that will check a person's age and adjust the ticket price. Regular ticket price is $10. Seniors (65+) get 25 percent off and children (under 0-9) are half off. Print out the ticket price at the end</p>

In [88]:

ticket = 10
# person_age = 72 # Output: Your ticket is $7.50
# person_age = 50 # Output: Your ticket is $10
# person_age = 8 # Output: Your ticket is $5.00

input

if person_age >= 72:
    print('Your ticket is $7.50')
elif person_age <= 8:
    print('Your ticket is $5.00')
else:
    print('Your ticket is $10.00')
    
# intructor answer below
    
if person_age < 10:
    ticket *= .5
elif person_age >= 65:
    ticket *= .75
    
print(f"Your ticket is ${ticket:.2f}")

Your ticket is $10.00
Your ticket is $10.00

### Lists

##### Declaring Lists

In [140]:
l_1 = [] # empty list declaration

print(l_1)
print(type(l_1))

names = ['Max', 'Cindy', 'Frank', 'Jim', 'Alison']
print(names)
print(type(names))

[]
<class 'list'>
['Max', 'Cindy', 'Frank', 'Jim', 'Alison']
<class 'list'>

##### Indexing a List

In [150]:
# list[start: stop: step] *start is inclusive, stop is exclusive


# single index
print(names[3])


# slice the list at the index 1 and go to the end
print(names[1:])


# slice from the beginning of the list and go to index 3
print(names[:3])


# slice the whole list -> make a copy
print(names[:])

# slice every other index
print(names[::2])


# slice the list in reverse order
print(names[::-1])

# some combination of them all
print(names[1:4:2])

Jim
['Cindy', 'Frank', 'Jim', 'Alison', 'Usama']
['Max', 'Cindy', 'Frank']
['Max', 'Cindy', 'Frank', 'Jim', 'Alison', 'Usama']
['Max', 'Frank', 'Alison']
['Usama', 'Alison', 'Jim', 'Frank', 'Cindy', 'Max']
['Cindy', 'Jim']

##### .append()

In [155]:
# list.append(value_to_append) - add the value to the end of the list

print(names)


names.append('Sarah')
print(names)

['Max', 'Cindy', 'Frank', 'Jim', 'Alison', 'Usama']
['Max', 'Cindy', 'Frank', 'Jim', 'Alison', 'Usama', 'Sarah']

##### .insert()

In [156]:
# list.insert(index,value)

print(names)
names.insert(3, 'Hero')

print(names)

['Max', 'Cindy', 'Frank', 'Jim', 'Alison', 'Usama', 'Sarah']
['Max', 'Cindy', 'Frank', 'Hero', 'Jim', 'Alison', 'Usama', 'Sarah']

##### .pop()

In [157]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

removed_name = names.pop()

print(names)
print(removed_name)

['Max', 'Cindy', 'Frank', 'Hero', 'Jim', 'Alison', 'Usama']
Sarah

In [158]:
# list.pop(index) - removes element at index position

another_name = names.pop(2)

print(names)
print(another_name)

['Max', 'Cindy', 'Hero', 'Jim', 'Alison', 'Usama']
Frank

In [ ]:
##### .index()

In [160]:
# list.index(value) - returns the value of the first item to match the value

print(names.index('Cindy'))

1


##### .remove()

In [161]:
# value to be removed , not index

print(names)
names.remove('Hero')
print(names)

['Max', 'Cindy', 'Hero', 'Jim', 'Alison', 'Usama']
['Max', 'Cindy', 'Jim', 'Alison', 'Usama']

##### del()

In [164]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully

print(names)

del names[4]

print(names)

['Max', 'Cindy', 'Jim', 'Alison', 'Usama']
['Max', 'Cindy', 'Jim', 'Alison']

In [165]:
##### .clear

In [166]:
# removes all of the names in the list

print(names)

names.clear()

print(names)

['Max', 'Cindy', 'Jim', 'Alison']
[]

##### Concatenating Two Lists

In [167]:
# will append two lists together, not add up the elements in each list

list_a = [0,1,2]
list_b = [3,4,5]

list_c = list_a + list_b

print(list_c)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [175]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other


lots_of_elements = [100, 1.23, 'Hello', True, print]

print(lots_of_elements)

[100, 1.23, 'Hello', True, <built-in function print>]

In [173]:
names2 = ['Mary', 'Molly', 'Jack', ['Jill', 'Dave']]

print(names2)

print(names2[3][1])

['Mary', 'Molly', 'Jack', ['Jill', 'Dave']]
Dave

### For Loops

In [177]:
# for <keyword> in <iterable>:
#     <statement>

for x in [5, 10, 15, 20, 25, 30, 35, 40]:
    print(x)

5
10
15
20
25
30
35
40

In [185]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

for c in colors:
    print(f"My favorite color is {c}")
    print('Hello')

My favorite color is red
Hello
My favorite color is orange
Hello
My favorite color is yellow
Hello
My favorite color is green
Hello
My favorite color is blue
Hello
My favorite color is indigo
Hello
My favorite color is violet
Hello

In [10]:
for c in colors:
    print(f"My favorite color is {c}")
print('Hello')

NameError: name 'colors' is not defined

##### Continue Statement

In [ ]:
# will continue to next iteration

In [42]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    if i == 5:
        continue
    print(i)
    print('Hello' + str(i))

1
Hello1
2
Hello2
3
Hello3
4
Hello4
6
Hello6
7
Hello7
8
Hello8
9
Hello9
10
Hello10

##### Break Statement

In [ ]:
# will break out of current loop

In [193]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    if i == 5:
        break
    print(i)
print('Next part of code')

1
2
3
4
Next part of code

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [194]:
for c in colors:
    if c == 'red':
        # todo: display red background
        pass
    else:
        print('Your color is not red!')

Your color is not red!
Your color is not red!
Your color is not red!
Your color is not red!
Your color is not red!
Your color is not red!

In [19]:
def some_func(x):
    pass

some_func(10)

In [ ]:
##### Nested/Double For Loops

In [203]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

total_steps = 0
for x in nums:
    for y in nums:
        print(f"x={x}, y={y}")
        total_steps += 1
        
print(total_steps)

x=1, y=1
x=1, y=2
x=1, y=3
x=1, y=4
x=1, y=5
x=1, y=6
x=1, y=7
x=1, y=8
x=1, y=9
x=1, y=10
x=2, y=1
x=2, y=2
x=2, y=3
x=2, y=4
x=2, y=5
x=2, y=6
x=2, y=7
x=2, y=8
x=2, y=9
x=2, y=10
x=3, y=1
x=3, y=2
x=3, y=3
x=3, y=4
x=3, y=5
x=3, y=6
x=3, y=7
x=3, y=8
x=3, y=9
x=3, y=10
x=4, y=1
x=4, y=2
x=4, y=3
x=4, y=4
x=4, y=5
x=4, y=6
x=4, y=7
x=4, y=8
x=4, y=9
x=4, y=10
x=5, y=1
x=5, y=2
x=5, y=3
x=5, y=4
x=5, y=5
x=5, y=6
x=5, y=7
x=5, y=8
x=5, y=9
x=5, y=10
x=6, y=1
x=6, y=2
x=6, y=3
x=6, y=4
x=6, y=5
x=6, y=6
x=6, y=7
x=6, y=8
x=6, y=9
x=6, y=10
x=7, y=1
x=7, y=2
x=7, y=3
x=7, y=4
x=7, y=5
x=7, y=6
x=7, y=7
x=7, y=8
x=7, y=9
x=7, y=10
x=8, y=1
x=8, y=2
x=8, y=3
x=8, y=4
x=8, y=5
x=8, y=6
x=8, y=7
x=8, y=8
x=8, y=9
x=8, y=10
x=9, y=1
x=9, y=2
x=9, y=3
x=9, y=4
x=9, y=5
x=9, y=6
x=9, y=7
x=9, y=8
x=9, y=9
x=9, y=10
x=10, y=1
x=10, y=2
x=10, y=3
x=10, y=4
x=10, y=5
x=10, y=6
x=10, y=7
x=10, y=8
x=10, y=9
x=10, y=10
100

### While Loops

In [205]:
# while <conditional>:
#     <statement to run while condition is true>

my_super_cool_num = 0

while my_super_cool_num < 20:
    print(my_super_cool_num)
    my_super_cool_num += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [206]:
new_num = 0

while new_num < 10:
    if new_num == 3:
        break
    print(new_num)
    new_num += 1

0
1
2

In [7]:
num = 1

while num < 10:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [ ]:
while True:
    keep_playing = input('Would you like to keep playing this game? y/n').lower()
    if keep_playing == 'n':
        break
    else:
        print("Lets start again")

### Built-In Functions

##### input()

In [ ]:
# input(question) => ALWAYS RETURNS A STRING

##### range()

In [ ]:
#Start, Stop, Step

##### len()

In [ ]:
# check Length of variable

##### help()

In [ ]:
# Use this function to view more info about a python function (With a DOCSTRING)

##### isinstance()

In [ ]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

### Try and Except

In [ ]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# Use so that you can log out graceful and useful error messages

##### Looping Through Lists

In [ ]:
# two ways to loop through a list, using range for index and in for values

# Loop with a for loop (By Index)

    
# Loop with a for loop (Using the 'in' keyword)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [78]:
my_num = [number**3 for number in range(0,15)]

for my_num in cubes:
    if my_num >= 1001:
        break
    else:
        print(my_num)

0
1
8
27
64
125
216
343
512
729
1000

# Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [92]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break


min_num = 1
max_num = 100

for num in range(min_num, max_num + 1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
# person_age = 65
# person_age = 18
# person_age = 17

person_age = input("Enter Your Age: ")

if person_age >= 65:
    print('seniors')
elif person_age <= 18:
    print('kids')
else:
    print('adults')

66